body{
    font-family: Arial;
    background:#f4f4f4;
    text-align:center;
}

.search{
    margin:20px;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 15px;
    cursor:pointer;
}

#allnews{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

.card{
    background:white;
    width:300px;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
    text-align:left;
}

.card h3{
    font-size:18px;
}

.card a{
    text-decoration:none;
    color:black;
}

.card p{
    font-size:14px;
    color:gray;
}
